html{
    background-image: url(../img/food_doodle.png);
    background-attachment: fixed;

}

.circular {
    border: 2px solid aquamarine;
    border-radius: 100%;
    background-color: rgb(236, 235, 235);
    padding: 10px;
    margin-bottom: 10px;
}

.register {
    width: 50px;
    height: 50px;
    margin-left: 7px;
}

.register:hover {
    width: 60px;
    height: 60px;
}

.container {
    display: flex;
    height: 100%;
}

.section1{
    flex: 2.5;
    flex-direction: column;
    text-align: center;
}

.section2{
    flex: 0.5;
    text-align: center;
    background-color: rgb(250, 156, 171);
    margin-right: 1em;
    margin-top: 5em;
    border: 3px solid #fff;
}

.welcome {
    text-align:center;
     margin-left: auto; 
     margin-right: auto; 
      width:500px;
       padding:5px
}

.homework {
    font-size:20px;
     color:pink;
}

.greet {
    margin-top:20px; 
    color:pink;
}
.home_cover{
    border-radius: 25%;
    text-align: center;
    margin-top: 2%;
}

.pig { 
    width: 240px;
    height: 270px;
    margin-top: 2em;
    transition: transform 1500ms ease-in-out;
}

.youorder {
    transition: transform 800ms ease-in-out;
}

.webring {
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


.pig:hover {
    transform: rotateY(180deg);
}

/*styling href links*/
a{
    color: rgb(250, 250, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.linking {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 255, 200);
    border: 2px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: rgb(250, 250, 250);
    font-weight: bold;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.775);
}

.linking:hover {
    transform: translate(0px, -10px);
    background-color: rgb(250, 250, 250);
    color:  rgb(0, 255, 200);
}

.custom_input{
    border-radius: 10px;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255);
    border: 2px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}

.nav {
    position: fixed;
    margin-top: 5%;
}

.nav ul {
    list-style: none;
}

ul li{
    width: 200px;
    height: 40px;
    background-color: rgba(252, 143, 176);  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight:100;
    color: rgb(49, 49, 49);
    border: 2px #fff solid;
    margin-right: 5px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.li-top{
    margin-top: 30px;
}

ul li:hover {
    background-color: rgba(255, 70, 125);
    width: 250px;
}

ul li ul li{
    background-color: rgba(255, 70, 125);   
    line-height: 40px;
    text-align: center;
    margin-right: 0px;
    margin-left: 160px;
    text-decoration: none;
    z-index: 1;
    border: 2px #fff solid;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    display: none;
    width: 150px;
}

ul li:hover ul li{
    display: block;
    width: 150px;
}

ul li ul li:hover {
    background-color: rgba(0, 255, 255);
    color: rgb(31, 31, 31);
    font-size: 18px;
}

/*Home Page styling*/
.order {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 70, 125);
    border: 2px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: rgb(250, 250, 250);
    font-weight: bold;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
    transition: transform 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.775);
}

.order:hover {
    transform: translate(0px, -10px);
    background-color: rgb(250, 250, 250);
    color:  rgb(255, 70, 125);
    width: 200px;
}
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: palevioletred;
    position: relative;
    margin-top: 0%;
    text-align:center;
}
.title_2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: palevioletred;
    position: relative;
    margin-top: 0%;
    text-align:center;
}
.action-btn {
    text-align: center;
    margin-top: -35px;
}
.wrapper{
    display: flex;
    width: 100%;
}
.wrapper1{
    flex:0.5;
    margin-left: 2%;
}
.wrapper2{
    flex:2.5;
    margin-left: 10%;
    align-items: center;
}
.card {
    width: 300px;
    background-color: rgb(252, 143, 176);
    border-bottom-left-radius: 5%; 
    border-bottom-right-radius: 5%;
    margin-bottom: 20px;
    float: left;
    margin-left: 30px;
}
.item-details {
    margin: 10px;
}

.orders-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: palevioletred;
    position: relative;
    text-align: center;
}
.item-details h2{
    color: black;
    font-size: 18px;
    position: relative;
    top: -50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-details h4{
    color: rgb(51, 50, 50);
    font-size: 16px;
    position: relative;
    left: 200px;
    top: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-details p{
    color: rgb(66, 66, 66);
    font-size: 13px;
    position: relative;
    top: -50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.orders-wrapper {
    display: flex;
}

.orders-wrapper-1 {
    flex: 1;
    text-align: center;
}

.orders-wrapper-2 {
    flex: 2;
}

.remove_btn {
    border-radius: 10px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: rgb(250, 250, 250);
    font-weight: bold;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
    transition: transform 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.775);
}

.remove_btn:hover {
    transform: translate(0px, -10px);
    background-color: rgb(250, 250, 250);
    color:  rgb(255, 0, 0);
    width: 150px;
}
.order-details{
    color: rgb(255, 53, 137);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.order-details-headers{
    color: rgb(255, 53, 137);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}